# Vercel
.vercel/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Dependências
node_modules/

# Builds do Electron
dist/
out/

# Logs
*.log

# Arquivos do sistema/editor
.DS_Store
Thumbs.db
.vscode/